.header-inner{
  position: relative;
  background-image: url('https://gico.io/wowhair/images/bg/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.header-inner::after{
  position: absolute;
  content: '';
  background-image: url('https://gico.io/wowhair/images/img1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 505px;
  top: 0;
  right: 0;
}

:where(.css-dev-only-do-not-override-apn68).ant-carousel .slick-dots{
  justify-content: start;
}

:where(.css-dev-only-do-not-override-apn68).ant-carousel .slick-dots li button{
  width: 12px !important;
  height: 12px !important;
  background: #858484;
  border-radius: 50%;
}

:where(.css-dev-only-do-not-override-apn68).ant-carousel .slick-dots li.slick-active button{
  background: #869791 !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.says-section>div{
  position: relative;
}

.says-section>div::after{
  position: absolute;
  background-image: url('https://gico.io/wowhair/images/img3.png');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  z-index: 100;
  bottom: -12%;
  right: 0;
  width: 750px;
  height: 500px;
}